@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


html{
    font-family: "Raleway", sans-serif;
}

h1 {margin-left:10px;
    font-weight:200;
    font-style:normal;
}

h4 {
    font-weight:600;
    font-style:normal;
}

/* Navigation Bar*/
.topnav {
    background-color: #102940;
    overflow: hidden;
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1000; /* Ensures the navbar is on top of other elements */
  }

  .topnav h1 {
    margin-left: 20px;
    color: #ffffff;
}

  .topnav a {
    margin-left: 20px;
    color: #ffffff;
    font-weight: 200;
    font-size: 20px;
}
  .topnav nav {
      margin-right: 20px;
  }
  .navbar nav a {
      color: white;
      text-decoration: none;
      padding: 10px 20px;
  }
  .topnav nav a:hover {
      background-color: #b8deff;
  }
